<div class="container">
    <div class="logo"><a href="index.html">LocalLink</a></div>
    <nav>
        <ul id="mainNavLinks">
            <li class="dropdown">
                <a href="#" class="dropbtn">소식</a>
                <ul class="dropdown-content">
                    <li><a href="news_localink.html">LocalLink 소식</a></li>
                    <li><a href="news_trends_list.html">ESG market</a></li>
                </ul>
            </li>
            <li id="navRestartSurvey" style="display: none;"><a href="survey_step1.html">진단 다시하기</a></li>
            <li id="navStrategyLink" style="display: none;"><a href="#">AI기반 ESG 전략수립</a></li>
            <li id="navProposalLink" style="display: none;"><a href="#">ESG프로그램 제안</a></li>
        </ul>
    </nav>
    <div id="userAuthStatus" style="float: right;"></div>
</div>